@import "../node_modules/react-vis/dist/style.css";

.App {
  display: grid;
  grid-template-areas:
    "header header header"
    "left-nav forex-container r-nav-live-feed"
    "left-nav forex-container r-nav-filters";
  grid-template-columns: 1fr 3fr 1fr;
}

.logo {
  height: 60px;
}

.fx-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.fx-card {
  border: grey solid 1px;
  border-radius: 8px;
  width: 25rem;
  display: inline-grid;
  box-shadow: 3px 3px 3px 3px gray;
}

.header {
  grid-area: header;
  background-color: rgb(66, 102, 168);
}

.left-nav {
  grid-area: left-nav;
  background-color: white;
}

.forex-container {
  grid-area: forex-container;
  background-color: white;
}

.r-nav-live-feed {
  margin-left: 5px;
  padding-left: 5px;
  grid-area: r-nav-live-feed;
  background-color: rgb(176, 195, 230);
}

.r-nav-filters {
  margin-left: 5px;
  padding-left: 5px;
  grid-area: r-nav-filters;
  background-color: rgb(176, 195, 230);
}
