.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid-container {
  display: grid;
  grid-gap: 50px;
}

.global-settings-btn {
  display: block;
  padding: 15px;
  border-left: 6px solid blue;
  background-color: lightblue;
}

@import "../node_modules/react-vis/dist/style.css";
