@import "../node_modules/react-vis/dist/style.css";

.App {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "left-nav forex-container forex-container forex-container r-nav-live-feed"
    "left-nav forex-container forex-container forex-container r-nav-filters";

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.fx-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.fx-card {
  border: grey solid 1px;
  border-radius: 8px;
  padding: 1rem;
  width: 25rem;
  display: inline-grid;
  margin: 1rem 3rem;
  box-shadow: 3px 3px 3px 3px gray;
}

.global-settings-btn {
  display: block;
  padding: 15px;
  border-left: 6px solid blue;
  background-color: lightblue;
}
@import "../node_modules/react-vis/dist/style.css";
.header {
  grid-area: header;
  background-color: cornflowerblue;
}

.left-nav {
  grid-area: left-nav;
  background-color: white;
}

.forex-container {
  grid-area: forex-container;
  background-color: white;
}

.r-nav-live-feed {
  grid-area: r-nav-live-feed;
  background-color: rgb(45, 97, 194);
}

.r-nav-filters {
  grid-area: r-nav-filters;
  background-color: rgb(45, 97, 194);
}
