.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px;
  grid-template-areas: ". . . ." ". . . ." ". . . .";
}

.fx-card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 25rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 3px 3px 3px gray;
}

.global-settings-btn {
  display: block;
  padding: 15px;
  border-left: 6px solid blue;
  background-color: lightblue;
}

@import "../node_modules/react-vis/dist/style.css";
