.App {
  text-align: center;
}

.fx-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.fx-card {
  border: grey solid 1px;
  border-radius: 8px;
  padding: 1rem;
  width: 25rem;
  display: inline-grid;
  margin: 1rem 3rem;
  box-shadow: 3px 3px 3px 3px gray;
}

.global-settings-btn {
  display: block;
  padding: 15px;
  border-left: 6px solid blue;
  background-color: lightblue;
}
@import "../node_modules/react-vis/dist/style.css";
