@import "../node_modules/react-vis/dist/style.css";

.App {
  display: grid;
  grid-template-areas:
    "header header header"
    "left-nav forex-container r-nav-live-feed"
    "left-nav forex-container r-nav-filters";
  grid-template-columns: 0.4fr 3fr 0.4fr;
}

.logo {
  height: 60px;
}

.fx-container {
  padding-left: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  text-align: center;
}

.fx-card {
  padding: 10px;
  border: grey solid 1px;
  border-radius: 8px;
  width: 25rem;
  display: inline-grid;
  box-shadow: 3px 3px 3px 3px gray;
}

.graph {
  padding: 5px 0px 10px 5px;
}

.header {
  grid-area: header;
  background-color: rgb(0, 0, 0);
}

.left-nav {
  grid-area: left-nav;
  background-color: rgb(0, 68, 255);
  min-height: 100vh;
}

.r-nav-live-feed {
  margin-left: 5px;
  padding: 0px 10px 0px 0px;
  grid-area: r-nav-live-feed;
  font-weight: bold;
}

.r-nav-filters {
  margin-left: 5px;
  padding-left: 5px;
  grid-area: r-nav-filters;
  font-weight: bold;
  min-height: 100vh;
}

.nav-button {
  display: block;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: rgb(0, 68, 255);
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.nav-button:hover {
  background-color: white;
  color: rgb(0, 68, 255);
}

.new-currency {
  width: 422px;
  height: 375px;
}
